<h1>Welcome to pirateapp!</h1>
<b>Example:</b> <a href="pirate/grimm/03/10">pirate/grimm/03/10</a> 
<p>
  <b>Extensions:</b>
  <ul>
    <li><a href="safari/pirate.safariextz">Safari extension</a></li>
    <li><a href="chrome/chromeextension.crx">Chrome extension</a> You will need to install it manually by dragging to <code>chrome://extensions</code> </li>
  </ul>

</p>
