
<div class="container">
  <div class="page-header">
    <h1>MyPirate plugin for Safari and Chrome</h1>
  </div>
  <p class="lead">Adds magnet links to myshows.ru</p>
  <h3>Safari</h3>
  <!-- <p> -->

    <button type="button" class="btn btn-primary" onclick="location.href='safari/pirate.safariextz'">Download</button>
  <!-- </p> -->
  <h3>Chrome</h3>
  <p class="text-warning">You'll have to manually drag'n'drop plugin file to <code>chrome://extensions</code></p>
  <button type="button" class="btn btn-primary" onclick="location.href='chrome/chromeextension.crx'">Download</button>
  
</div>