<!-- <h1>Welcome to mypirate!</h1>
<b>Example:</b> <a href="pirate/grimm/03/10">pirate/grimm/03/10</a> 
<p>
  <b>Extensions:</b>
  <ul>
    <li><a href="safari/pirate.safariextz">Safari extension</a></li>
    <li><a href="chrome/chromeextension.crx">Chrome extension</a> You will need to install it manually by dragging to <code>chrome://extensions</code> </li>
  </ul>

</p> -->

<div class="container">
  <div class="page-header">
    <h1>MyPirate plugin for Safari and Chrome</h1>
  </div>
  <p class="lead">Adds magnet links to myshows.ru</p>
  <h3>Safari</h3>
  <!-- <p> -->

    <button type="button" class="btn btn-primary">Download</button>
  <!-- </p> -->
  <h3>Chrome</h3>
  <p class="text-warning">You'll have to manually drag'n'drop plugin file to <code>chrome://extensions</code></p>
  <button type="button" class="btn btn-primary">Download</button>
  
</div>